<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <pre class="mermaid">
          flowchart LR
          %%{init:{'flowchart':{'nodeSpacing': 80, 'rankSpacing': 30}}}%%
          A[Contributing to Flutter Plugin for IntelliJ] --> B[Contributing code]
          B --> C[Getting started]
          C --> D[Setting environments]
          D --> E[Handle symlinks]
          D --> F[Provision Tool]
          D --> G[Running plugin tests]
          G --> H[Using test run configurations in IntelliJ]
          G --> I[Using the plugin tool on the command line]
          D --> J[Adding platform sources]
          D --> K[Working with Android Studio]
          D --> L[Working with Embedded DevTools JxBrowser]
          D --> M[Signing commits]
      
            
        </pre>
    
        <div class="popup-overlay" id="popupOverlay" onclick="closePopup()">
            <button class="close-button" onclick="closePopup()">✕</button>
           
            <div class="video-container">
                <video controls autoplay width="100%" height="100%">
                    <source id="video_source" src="test_video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="popup" onclick="textPopup()">
            <span class="popuptext" id="myPopup">
                   </span>
        </div>
        
        <div id="container">
        <div id="exampleModal" class="reveal-modal">
                <h2>POP UP</h2>
                    <span class="popuptext" id="myPopup">Hi
                    </span>
            <a href="#" class="close-reveal-modal">×</a>
        </div>
        </div>




        <!-- Button to open the popup -->
        <!-- <button onclick="openPopup()">Open Video Popup</button> -->

        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
            const callback = function () {
            alert('A callback was triggered');
            };
            const config = {
                startOnLoad: true,
                flowchart: { useMaxWidth: true, htmlLabels: true },
                securityLevel: 'loose',
            };
            mermaid.initialize(config);

        </script>

        <script src="video_player.js"></script>
      
      </body>

</html>
